## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,55.99,70,60,11.01,broken clouds
1,1,Norman Wells,CA,65.2820,-126.8329,15.80,86,75,3.69,broken clouds
2,2,Hermanus,ZA,-34.4187,19.2345,66.00,71,61,5.01,broken clouds
3,3,Port Lincoln,AU,-34.7333,135.8667,77.95,30,100,13.22,overcast clouds
4,4,Lohne,DE,52.6667,8.2333,37.99,91,94,8.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,55.99,70,60,11.01,broken clouds
2,2,Hermanus,ZA,-34.4187,19.2345,66.00,71,61,5.01,broken clouds
3,3,Port Lincoln,AU,-34.7333,135.8667,77.95,30,100,13.22,overcast clouds
5,5,Lompoc,US,34.6391,-120.4579,64.99,34,1,5.75,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,77.94,79,100,18.34,overcast clouds
7,7,Port Alfred,ZA,-33.5906,26.8910,68.00,81,97,1.01,overcast clouds
8,8,Cape Town,ZA,-33.9258,18.4232,69.01,63,20,23.02,few clouds
12,12,Port Elizabeth,ZA,-33.9180,25.5701,66.20,77,90,8.05,overcast clouds
16,16,Busselton,AU,-33.6500,115.3333,55.99,91,4,11.54,clear sky
17,17,Agadez,NE,19.7500,10.2500,70.07,22,0,5.75,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             371
City                   371
Country                366
Lat                    371
Lng                    371
Max Temp               371
Humidity               371
Cloudiness             371
Wind Speed             371
Current Description    371
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

Unnamed: 0             366
City                   366
Country                366
Lat                    366
Lng                    366
Max Temp               366
Humidity               366
Cloudiness             366
Wind Speed             366
Current Description    366
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,55.99,broken clouds,-46.1927,168.8643,
2,Hermanus,ZA,66.00,broken clouds,-34.4187,19.2345,
3,Port Lincoln,AU,77.95,overcast clouds,-34.7333,135.8667,
5,Lompoc,US,64.99,clear sky,34.6391,-120.4579,
6,Atuona,PF,77.94,overcast clouds,-9.8000,-139.0333,
7,Port Alfred,ZA,68.00,overcast clouds,-33.5906,26.8910,
8,Cape Town,ZA,69.01,few clouds,-33.9258,18.4232,
12,Port Elizabeth,ZA,66.20,overcast clouds,-33.9180,25.5701,
16,Busselton,AU,55.99,clear sky,-33.6500,115.3333,
17,Agadez,NE,70.07,clear sky,19.7500,10.2500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,55.99,broken clouds,-46.1927,168.8643,Ellie's Villa
2,Hermanus,ZA,66.00,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,Port Lincoln,AU,77.95,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
5,Lompoc,US,64.99,clear sky,34.6391,-120.4579,Holiday Inn Express Lompoc
6,Atuona,PF,77.94,overcast clouds,-9.8000,-139.0333,Villa Enata
7,Port Alfred,ZA,68.00,overcast clouds,-33.5906,26.8910,The Halyards Hotel
8,Cape Town,ZA,69.01,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
12,Port Elizabeth,ZA,66.20,overcast clouds,-33.9180,25.5701,39 On Nile Guest House
16,Busselton,AU,55.99,clear sky,-33.6500,115.3333,Observatory Guest House
17,Agadez,NE,70.07,clear sky,19.7500,10.2500,

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,55.99,broken clouds,-46.1927,168.8643,Ellie's Villa
2,Hermanus,ZA,66.00,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,Port Lincoln,AU,77.95,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
5,Lompoc,US,64.99,clear sky,34.6391,-120.4579,Holiday Inn Express Lompoc
6,Atuona,PF,77.94,overcast clouds,-9.8000,-139.0333,Villa Enata

In [10]:
# 8a. Create the output File (CSV)
output_data_file = ('WeatherPy_vacation.csv')

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
current_description = hotel_df["Current Description"]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))