In [72]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

In [73]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [74]:
# Create a practice set of random latitude and longitude combinations.
lats = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
lngs = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
lat_lngs = zip(lats, lngs)

In [75]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [76]:
# Use the print() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

25.12903645 -67.59741259
25.92017388 11.09532135
26.62509167 74.84233102
-59.98969384 -76.89176677
37.30571269 -61.13376282

In [77]:
#We create a cities list to store city names.
#We iterate through the coordinates, as in our practice, and retrieve the nearest city using the latitude and longitude pair.
#We add a decision statement with the logical operator not in to determine whether the found city is already in the cities list. If not, then we'll use the append() function to add it. We are doing this because among the 1,500 latitudes and longitudes, there might be duplicates, which will retrieve duplicate cities, and we want to be sure we capture only the unique cities.

# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

5

In [78]:
cities

['cockburn town', 'gat', 'parvatsar', 'punta arenas', 'saint george']

In [79]:
#Import your Requests Library and the weather_api_key.
#Build the basic URL for the OpenWeatherMap with your weather_api_key added to the URL.
#import the time library, as well as the datetime module using the following code:

# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [80]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [81]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [84]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 350 == 0 and i >= 350):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
 
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 6 of Set 1 | cockburn town
Processing Record 7 of Set 1 | gat
Processing Record 8 of Set 1 | parvatsar
Processing Record 9 of Set 1 | punta arenas
Processing Record 10 of Set 1 | saint george
-----------------------------
Data Retrieval Complete
-----------------------------

In [83]:
#basic syntax try:
#  Do something
#except:
#  print("An exception occurred")

In [85]:
# Convert the array of dictionaries to a Pandas DataFrame. converting the array of dictionaries to a DataFrame, ensuring the columns are in the correct order, and exporting the DataFrame to a comma-separated (CSV) file.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cockburn Town,21.4612,-71.1419,85.96,66,20,17.27,TC,2022-06-12 17:50:12
1,Gat,31.6100,34.7642,75.88,100,0,6.15,IL,2022-06-12 17:50:12
2,Parvatsar,26.8833,74.7667,87.33,42,100,14.65,IN,2022-06-12 17:50:12
3,Punta Arenas,-53.1500,-70.9167,53.71,66,20,11.50,CL,2022-06-12 17:50:13
4,Saint George,37.1041,-113.5841,100.63,9,0,27.63,US,2022-06-12 17:41:27
5,Cockburn Town,21.4612,-71.1419,85.96,66,20,17.27,TC,2022-06-12 17:50:12
6,Gat,31.6100,34.7642,75.88,100,0,6.15,IL,2022-06-12 17:50:12
7,Parvatsar,26.8833,74.7667,87.33,42,100,14.65,IN,2022-06-12 17:50:12
8,Punta Arenas,-53.1500,-70.9167,53.71,66,20,11.50,CL,2022-06-12 17:50:13
9,Saint George,37.1041,-113.5841,100.63,9,0,27.63,US,2022-06-12 17:41:27

In [86]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]

In [88]:
city_data_df=city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Cockburn Town,TC,2022-06-12 17:50:12,21.4612,-71.1419,85.96,66,20,17.27
1,Gat,IL,2022-06-12 17:50:12,31.6100,34.7642,75.88,100,0,6.15
2,Parvatsar,IN,2022-06-12 17:50:12,26.8833,74.7667,87.33,42,100,14.65
3,Punta Arenas,CL,2022-06-12 17:50:13,-53.1500,-70.9167,53.71,66,20,11.50
4,Saint George,US,2022-06-12 17:41:27,37.1041,-113.5841,100.63,9,0,27.63
5,Cockburn Town,TC,2022-06-12 17:50:12,21.4612,-71.1419,85.96,66,20,17.27
6,Gat,IL,2022-06-12 17:50:12,31.6100,34.7642,75.88,100,0,6.15
7,Parvatsar,IN,2022-06-12 17:50:12,26.8833,74.7667,87.33,42,100,14.65
8,Punta Arenas,CL,2022-06-12 17:50:13,-53.1500,-70.9167,53.71,66,20,11.50
9,Saint George,US,2022-06-12 17:41:27,37.1041,-113.5841,100.63,9,0,27.63

In [90]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")